REACT_APP_BUILD=development
HTTPS=true
SSL_CRT_FILE=
SSL_KEY_FILE=

REACT_APP_MEZON_CLIENT_ID=
REACT_APP_MEZON_REDIRECT_URI=https://127.0.0.1:3000/mezon-callback
REACT_APP_MEZON_BACKEND_URL=http://127.0.0.1:8080
REACT_APP_MEZON_AUTHORIZE_URL=https://oauth2.mezon.ai/oauth2/auth
REACT_APP_MEZON_SCOPE=openid offline
