node-app/node_modules/*
node-app/node_modules
node-app/upload
node-app/src/asset/ImageStudent/*
node-app/build
node-app/dist
node-app/src/upload/originQR/*
node-app/.env
node-app/.env.*
node-app/.env.build
!node-app/.env.example
*.env
.env