PORT=8080
JWT_SECRET=
BOT_TOKEN=
IPNLTB=
NODE_ENV=

MEZON_CLIENT_ID=
MEZON_CLIENT_SECRET=
REDIRECT_URI=https://127.0.0.1:3000/mezon-callback
CORS_ORIGINS=http://127.0.0.1:3000,https://127.0.0.1:3000

MEZON_TOKEN_URL=https://oauth2.mezon.ai/oauth2/token
MEZON_USERINFO_URL=https://oauth2.mezon.ai/userinfo
MEZON_TIMEOUT_MS=10000
SESSION_TTL_MS=604800000
COOKIE_SECURE=false
DEFAULT_MEZON_USER_GENDER_ID=1
DEFAULT_MEZON_USER_GROUP_ID=3
DEFAULT_MEZON_USER_ACTIVE=1
