PORT=8080
JWT_SECRET=your_jwt_secret

MEZON_CLIENT_ID=your_mezon_client_id
MEZON_CLIENT_SECRET="your_mezon_client_secret"
REDIRECT_URI=https://localhost:3000/mezon-callback
CORS_ORIGINS=http://localhost:3000,https://localhost:3000,http://127.0.0.1:3000,https://127.0.0.1:3000

MEZON_TOKEN_URL=https://oauth2.mezon.ai/oauth2/token
MEZON_USERINFO_URL=https://oauth2.mezon.ai/userinfo
MEZON_TIMEOUT_MS=10000
